@page
@model test_acomps.Pages.Test3.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Проверить является ли строка полиндромом</h1>

<p>
    <a asp-page="Create">Добавить строку для проверки</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Test3_model[0].Str)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test3_model[0].Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Test3_model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Str)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
            </tr>
        }
    </tbody>
</table>
