@page
@model test_acomps.Pages.Test1.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Подсчета суммы по модулю каждого второго нечетного числа в массиве</h1>

<p>
    <a asp-page="Create">Добавить массив чисел для вычисления</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Test1_model[0].Mas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test1_model[0].Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Test1_model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
        </tr>
}
    </tbody>
</table>
